repos:
  - repo: git://github.com/golangci/golangci-lint
    rev: v1.34.1
    hooks:
      - id: golangci-lint

  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
      - id: detect-private-key
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace

  - repo: git://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
      - id: markdownlint

  - repo: git://github.com/trussworks/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: circleci-validate
      - id: goreleaser-check
